			.item{
				width:20%;
				height:35rem;
				margin-right:2rem;
				display: inline-block;
				vertical-align: top;				
				padding: 1rem;
				background: #FFFFFF;
				border-radius: 2rem;
			}
			.item img{
				width:100%;
				max-height: 12rem;
				object-fit: cover;
			}
			button{
				cursor:pointer;
			}
